        @font-face {
            font-family: 'pixelfont';
            src: url(/fonts/Pixel\ Digivolve.otf) format('opentype'),
                url(/fonts/Pixel\ Digivolve\ Italic.otf) format('opentype');
            font-weight: normal;
            font-style: normal;
        }
        * {
            box-sizing: border-box;
        }
        html, body {
            margin: 0;
            padding: 0;
        }
        .header {
            background-color: #d79921;
            display: grid;
            grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
            grid-row: auto;
            align-items: center;
            color: #ebdbb2;
        }
        a {
            text-shadow: 3px 3px 0px #000;
        }
        .header-title {
            text-align: center;
            margin: 0;
            font-size: 48px;
            font-family: 'pixelfont', Arial, sans-serif;
            font-weight: bold;
            text-decoration: none;
            color: #ebdbb2;
        }
        .header-title .red {
            color: #F50300;
        }
        .header-title .pink {
            color: #FF01C4;
        }
        .header-title .blue {
            color: #1400FF;
        }
        .header-section {
            text-align: center;
            margin: 0;
            font-size: 24px;
            font-family: 'pixelfont', Arial, sans-serif;
            font-weight: bold;
            text-decoration: none;
            color: #ebdbb2;
        }

        .header-title:hover, .header-section:hover {
            color: #458588;
            cursor: pointer;
        }
        body {
            background-color: #3c3836;
        }
        .content {
            color: #ebdbb2;
            padding: 20px;
            align-items: center;
            text-align: center;
            font-family: 'pixelfont', Arial, sans-serif;
            font-size: 24px;
            font-weight: normal;
        }
        .contact-form {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh; /* centra vertical y horizontal */
        }

        .contact-form form {
        background-color: #3c3836; /* fondo gruvbox dark */
        padding: 20px 30px;
        border-radius: 0px;
        box-shadow: 3px 3px 5px #000;
        max-width: 400px;
        width: 100%;
        color: #ebdbb2; /* texto blanco */
        font-family: pixelfont, Arial, sans-serif;
        }

        .contact-form label {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        }

        .contact-form input,
        .contact-form textarea,
        .contact-form button {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 15px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        }

        .contact-form input,
        .contact-form textarea {
        background-color: #504945; /* gris oscuro gruvbox */
        color: #ffffff; /* texto blanco */
        font-family: pixelfont, Arial, sans-serif;
        }

        .contact-form input::placeholder,
        .contact-form textarea::placeholder {
        color: #ebdbb2; /* cremita */
        }

        .contact-form button {
        background-color: #cc241d; /* azul gruvbox */
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s;
        }

        .contact-form button:hover {
        background-color: #83a598; /* azul más claro al hover */
        }
